body{
    background: #fafafa;
}

.dino{
    position: absolute;
    background-image:url(dino.png);
    bottom: 0;
    width: 60px;
    height: 60px;
}

.cactus{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(cactus.png); 
}

.game-over{
    text-align:  center;
    color: #666666;
    margin-top: 50px;
    font-family: arial;
}
.apresenta{
    text-align: bottom;
    color: black;
    margin-bottom: 100px;
    font-family: sans-serif;
}

@keyframes sliderigth{
    from {
        background-position: 70000%;
    }
    to{
        background-position: 0;
    }
}

.background{
    position: absolute;
    bottom: 0;
    background-image: url(background.png);
    background-repeat: repeat-x;
    animation: sliderigth 600s infinite linear;
    width: 100%;
    height: 200px;
}